@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@media (max-width: 1460px) {
  .container {
    max-width: 950px;
  }
  .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider_wrapper {
    max-width: 950px;
  }
  .slider__slide img {
    width: 950px;
  }
  .page_left {
    width: 100%;
    padding-bottom: 2rem;
  }
  .page_left img {
    width: 600px;
    height: 500px;
  }
  .page_left p {
    text-align: left;
    padding: 1rem 0;
  }
  .page_right {
    width: 100%;
  }
  .page_right img {
    width: 600px;
    height: 500px;
  }
  .page_right p {
    text-align: center;
    padding: 0;
  }
  .page_right-img {
    display: none;
  }
  .page__card_light {
    margin-bottom: 2rem;
  }
  .page__card_light:last-child {
    margin-bottom: 0;
  }
  .page__card_dark {
    margin-bottom: 2rem;
  }
  .page__card_light p, .page__card_dark p {
    padding: 0 0 1rem;
    text-align: center;
  }
  .page__card_light img, .page__card_dark img {
    width: 600px;
    height: 500px;
  }
}

@media (max-width: 1024px) {
  .container {
    max-width: 700px;
  }
  .slider_wrapper {
    max-width: 700px;
    height: 400px;
  }
  .slider__slide img {
    width: 700px;
    height: 400px;
  }
  p {
    font-size: 1.25em;
  }
  h1, h2, h3 {
    text-align: center;
  }
  h1 {
    font-size: 3.75em;
  }
  h2 {
    font-size: 1.75em;
  }
  h3 {
    font-size: 1.75em;
    padding: 15px;
  }
  a {
    font-size: 1.25em;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 440px;
  }
  .row_for-header {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .slider_wrapper {
    max-width: 440px;
    height: 260px;
  }
  .slider__slide img {
    width: 440px;
    height: 260px;
  }
  .page {
    padding: 40px 0 110px;
  }
  .page__btn {
    width: 440px;
    padding: 26px 0;
  }
  .page_left img {
    width: 440px;
    height: 400px;
  }
  .page_right img {
    width: 440px;
    height: 400px;
  }
  .page__card_light img, .page__card_dark img {
    width: 440px;
    height: 400px;
  }
  .menu__list {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: #35A3FC;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
            box-shadow: 0 4px 2px -2px rgba(36, 36, 36, 0.17);
    left: -120%;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    margin-top: auto;
    top: 0;
  }
  .menu__list.open-menu {
    left: 0;
  }
  .menu__list.open-menu a {
    text-decoration: none;
    color: white;
    -webkit-transition: 0.2 ease;
    transition: 0.2 ease;
  }
  .menu__list.open-menu a:hover {
    color: white;
  }
  .menu__item {
    padding: 1rem;
  }
  .menu__item:last-child {
    padding: 1rem;
  }
  .body_fixed {
    overflow: hidden;
  }
  .menu-burger {
    display: block;
    position: fixed;
    z-index: 3;
    top: 2rem;
    right: 5%;
    width: 2.5rem;
    height: 2.2rem;
    -webkit-box-shadow: #4d4d4d;
            box-shadow: #4d4d4d;
  }
  .menu-burger span, .menu-burger:after, .menu-burger:before {
    height: 3px;
    width: 100%;
    position: absolute;
    background: #ffffff;
    margin: 0 auto;
  }
  .menu-burger span {
    top: 1rem;
  }
  .menu-burger:after, .menu-burger:before {
    content: '';
  }
  .menu-burger:after {
    bottom: 5px;
  }
  .menu-burger:before {
    top: 5px;
  }
  .menu-burger.open-menu span {
    opacity: 0;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .menu-burger.open-menu:before {
    -webkit-transform: rotate(38deg);
            transform: rotate(38deg);
    top: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .menu-burger.open-menu:after {
    -webkit-transform: rotate(-38deg);
            transform: rotate(-38deg);
    bottom: 16px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  .row_for-footer {
    -ms-flex-flow: wrap;
        flex-flow: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .form input[type=checkbox] {
    cursor: pointer;
    width: 60px;
    height: 60px;
    margin: 0 20px;
  }
  .footer_left {
    text-align: center;
  }
  .footer_right {
    text-align: center;
  }
  .footer_right p {
    margin-bottom: 2rem;
  }
  .footer__icons {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 280px;
  }
  .slider_wrapper {
    max-width: 280px;
    height: 220px;
  }
  .slider__slide img {
    width: 280px;
    height: 220px;
  }
  .page {
    padding: 20px 0 80px;
  }
  .page__title h2 {
    font-size: 1.5em;
  }
  .page__btn {
    width: 280px;
    padding: 26px 0;
  }
  .page_left img {
    width: 280px;
    height: 220px;
  }
  .page_right img {
    width: 280px;
    height: 220px;
  }
  .page__card_light img, .page__card_dark img {
    width: 280px;
    height: 220px;
  }
  .footer__icon {
    padding: 0 10px;
  }
}
/*# sourceMappingURL=media.css.map */